# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\CodeForces_VsCode\Java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
